{% extends 'admin/base.html' %}    
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/adminstyle.css' %}">
{% endblock extrastyle %}

{% block branding %}
    <h1 id="head">
        <img src="{% static 'images/logo.png' %}" alt="" class="logo">
        Logos Administration
    </h1>
{% endblock branding %}
    