{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
<section>
    <h1>{% trans "Social Network Login Failure" %}</h1>

    <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
</section>

{% endblock %}
