{% extends "socialaccount/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section>
    <img src="/static/images/logo.png" alt="">
    <h2>{% trans "Sign Up" %}</h2>
<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
<div class="container">
  <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-4 mb-0">
        {{ form.email|as_crispy_field}}
      </div>
      <div class="form-group col-md-4 mb-0">
      {{ form.user_type|as_crispy_field}}
      </div>
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
  </form>
</section>
{% endblock %}

