#header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background:hsl(12, 100%, 67%);
    background-image: linear-gradient(
		to left,
		hsl(327, 56%, 32%),
		hsl(12, 100%, 67%)
	);
    color: #ffffff;
    overflow: hidden;
}
img.logo{
    height: 70px;
    width: 70px;
}

#branding h1 {
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 300;
    font-size: 24px;
    color: #ffffff;
}
div.breadcrumbs {
    background:hsl(12, 100%, 67%);
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    /* background: #79aec8; */
    background: hsl(12, 100%, 67%);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: hsl(12, 100%, 67%);
    color: #fff;
}
a:link, a:visited {
    color: gray;
    text-decoration: none;
}