/* *,*::before,*::after */
/* Footer */
footer{
  background: #1A0E0A;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  height: 100%;
}
.footer > *{
  flex: 1 100%;
}
.footer-left{
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footer-left img{
  width: 50%;
  height: 50%;
}
.footer ul{
  list-style: none;
  padding-left: 0;
}
.footer li{
  line-height: 2em;
}
.footer h2{
  color: antiquewhite;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
}

.footer a{
  text-decoration: none;
}
.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; 
  flex-flow: row wrap;
  display: inline;
}
.footer-right > *{
  flex: 1 50%;
  margin-right: 1.25em;
}
.boxes a{
  color: burlywood;
  font-family: 'Times New Roman', Times, serif;
}
.footer-bottom{
  text-align: center;
 
}
.footer-left{
  padding-right: 20%;
  color: burlywood;
}

@media screen and (min-width: 600px){
  .footer-right > *{
    flex: 1;
  }
  .footer-left{
    flex: 1 0px;
  }
  .footer-right{
    flex: 2 0px;
  }
}
@media (max-width:600px){
  .footer{
    padding: 15px;
  }
  main{
    font-size: 55px;
  }
}
/* social icons */

.social-icons {
  display: flex;
}
.social-icons li{
  position: relative;
  display: block;
  color: #666;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: .5s;
}
.social-icons  li:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}
.social-icons li:nth-child(1):before{
  background: #4267B2;
}
.social-icons  li:nth-child(2):before{
  background: #1DA1F2;
}
.social-icons li:nth-child(3):before{
  background: #E1306C;
}
.social-icons  li:nth-child(4):before{
  background: #2867B2;
}
.social-icons li:nth-child(5):before{
  background: #ff0000;
}
.social-icons  li:hover:before{
  filter: blur(3px);
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
}
.social-icons li:nth-child(1):hover:before{
  box-shadow: 0 0 15px #4267B2;
}
.social-icons  li:nth-child(2):hover:before{
  box-shadow: 0 0 15px #1DA1F2;
}
.social-icons  li:nth-child(3):hover:before{
  box-shadow: 0 0 15px #E1306C;
}
.social-icons  li:nth-child(4):hover:before{
  box-shadow: 0 0 15px #2867B2;
}
.social-icons  li:nth-child(5):hover:before{
  box-shadow: 0 0 15px #ff0000;
}
.social-icons  li:nth-child(1):hover{
  color: #456cba;
  box-shadow: 0 0 15px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}
.social-icons  li:nth-child(2):hover{
  color: #26a4f2;
  box-shadow: 0 0 15px #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
}
.social-icons  li:nth-child(3):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}
.social-icons  li:nth-child(4):hover{
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867B2;
  text-shadow: 0 0 15px #2867B2;
}
.social-icons  li:nth-child(5):hover{
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}
/* ul li:hover{
  color: #ffa502;
  box-shadow: 0 0 15px #d35400;
  text-shadow: 0 0 15px #d35400;
} */
