section{
    min-height: 100vh; 
	/* display: flex; */
	align-items: center;
	justify-content: center;
	flex-direction: column;
    padding: 100px; 
    display: inline-block;
}

section.users-info a{
    font-size: 15px;
}

#side-navigation{
    width: 200px;
    float: right;
    right: 100px;
    margin-top: 10px;
    /* margin-right: 100px; */
    align-items: center;
   
}

.profile-pic img{
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border-radius: 515px;
    text-align: center;
    display: inline-block;
}
.profile-text h5{
    font-size: 15px;
    text-align: left;
}



.profile {
    width: 30%;
    float: left;
    height: 100vh;
    overflow-x: scroll;
    overflow: scroll;
    overflow-y: scroll;
    text-align: center;
}
.notification{
    width: 30%;
    float: right;
    text-align: justify;
    height: 100vh;
    overflow-x: scroll;
    overflow: scroll;
}
.main{
    width: 40%;
    float: right;
    padding: 15px;
    text-align: center;
    height: 100vh;
    overflow-x: scroll;
    overflow: scroll;
}

h4{
    text-align: center;
    text-transform: capitalize;
}

