{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

'occupation','about',
'photo'
{% block content %}
<div class="container">
    <section>
        <img src="{% static 'images/logo.png' %}" alt="">
        <form action="{{ alumniprofile.get_update_url }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Education background</h4>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.study_level|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.year_of_graduation|as_crispy_field }}
                </div>  
            </div>
            <h4>Tell us about yourself and experience with Logos/Jubilee Scholarship</h4>
            <hr>
            <div class="form-group col-md-12 mb-0">
                {{ form.about|as_crispy_field }}
            </div> 
            <h4>What are you currently doing?</h4>
            <br>
            <div class="form-group col-md-12 mb-0">
                {{ form.occupation|as_crispy_field }}
            </div>
            <h4>Upload a profile picture</h4>
            <br>
            <div class="form-group col-md-12 mb-0">
                {{ form.photo|as_crispy_field }}
            </div>
            
           
            
            
            <button type="submit" class="btn btn-primary">Update Your profile</button>
        </form>
    </section>
</div>
{% endblock content %}