{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock extrahead %}
{% block content %}
        <section class="users-info">
            <div class="profile">
                <div id="profile">
                    <h5>Profile</h5>
                    <div class="profile-pic">
                        {% if mentorprofile.photo %}
                        <img src="{{ mentorprofile.photo.url }}" alt="">
                        {% else %}
                        <p>You have not uploade a profile picture yet</p>
                        {% endif %} 
                    </div>
                        <div class="profile-text">
                            <h5> <strong>Your email address</strong>  {{ mentorprofile.user.email }}</h5>
                            <h5> <strong>Bio:</strong> {{ mentorprofile.about }} 
                                <a href="{{ mentorprofile.get_update_url }}">Edit profile</a>
                            </h5>
                            
                        </div> 
                    </div>
              </div>

        <!--Posts-->
        <div class="notification">
            <h4>Notifications.
                Coming soon
            </h4>
          </div>
          <div class="main">
            <h3>Posts</h3>
            <div class="container">
                <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Repellendus illum ad perspiciatis nam 
                    consectetur ut corrupti minima, 
                    pariatur veritatis dolore. Fuga, cumque! Cumque accusantium ipsum 
                    molestiae nemo, voluptatem earum rem!
                </6>
            </div> 
          </div>
        </section>
{% endblock content %}
    




