{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock extrahead %}

{% block content %}
<div class="container">
    <section>
        <img src="{% static 'images/logo.png' %}" alt="">
        <form action="{{ nontertiaryprofile.get_update_url }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <h4>Tell us about yourself and why you like mentoring</h4>
                <hr>
                <div class="form-group col-md-12 mb-0">
                    {{ form.about|as_crispy_field }}
                </div>
                <h4>What is your currrent occupation?</h4>
                <hr>
                <div class="form-group col-md-12 mb-0">
                    {{ form.occupation|as_crispy_field }}
                </div>
                <h4>Upload a profile picture</h4>
                <hr>
                <div class="form-group col-md-12 mb-0">
                    {{ form.photo|as_crispy_field }}
                </div>
            <button type="submit" class="btn btn-primary">Update Your profile</button>
        </form>
    </section>
</div>
{% endblock content %}
