{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock extrahead %}

{% block content %}
<div class="container">
    <section>
        <img src="{% static 'images/logo.png' %}" alt="">
       
        <form action="{{ nontertiaryprofile.get_update_url }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Personal Info</h4>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.date_of_birth|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.gender|as_crispy_field }}
                </div>  
            </div>
            <hr>
            <div class="form-group col-md-12 mb-0">
                {{ form.about|as_crispy_field }}
            </div>
            <h4>Parents/Guardian Info</h4>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.parents|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.parents_or_guardian_contacts|as_crispy_field}}
                </div>
            </div>
            <h4>School Info</h4>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.name_of_school|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.county|as_crispy_field}}
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.year_of_national_examination|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.primary_or_secondary|as_crispy_field}}
                </div>
            </div>
            <h4>Upload files</h4>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.birth_certificate|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.kcpe_results_slip|as_crispy_field}}
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.report_form|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.fees_structure|as_crispy_field}}
                </div>
            </div>
            <!-- {{ form|crispy}} -->
            <button type="submit" class="btn btn-primary">Update Your profile</button>
        </form>
    </section>
</div>
{% endblock content %}