{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock extrahead %}


{% block content %}
<div class="container">
    <section>
        <img src="{% static 'images/logo.png' %}" alt="">
        <form action="{{ tertiaryprofile.get_update_url }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Personal Info</h4>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.date_of_birth|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">                    
                    {{ form.gender|as_crispy_field }}
                </div>
            </div>
            <div class="form-group col-md-12 mb-0">
                {{ form.about|as_crispy_field}} 
            </div> 
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.parents|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.parents_or_guardian_contacts|as_crispy_field}}
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.contacts|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.photo|as_crispy_field}}
                </div>
            </div>    
            <h4>School Info</h4>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.name_of_school|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.type_of_institution|as_crispy_field}}
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.county|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.course|as_crispy_field}}
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-5 mb-0">
                    {{ form.type_of_course|as_crispy_field}}
                </div>
                <div class="form-group col-md-5 mb-0">
                    {{ form.year_of_graduation|as_crispy_field}}
                </div>
                <div class="form-group col-md-2 mb-0">
                    {{ form.helb_beneficiary|as_crispy_field}}
                </div>
            </div>
            <h4>Upload files</h4>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.kcse_results_slip|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.transcript|as_crispy_field}}
                </div> 
            </div>
            <hr>
            <div class="form-row">  
                <div class="form-group col-md-6 mb-0">
                    {{ form.fees_structure|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.birth_certificate|as_crispy_field}}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update Your profile</button>
        </form>
    </section>
</div>
{% endblock content %}

