*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	
}
html, body{
	overflow-x:hidden;
}
.containers{
	background-image: linear-gradient(
		to left,
		hsl(327, 56%, 32%),
		hsl(12, 100%, 67%)
	);

}
header{
	width: 100%;
	background: #928261; 
	 position: fixed; 
	 padding: 0 20px;
	 z-index: 1; 
	
	background-image: linear-gradient(
		to left,
		hsl(327, 56%, 32%),
		hsl(12, 100%, 67%)
	);

}

header nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;

}
nav a.logo{
	color: aliceblue;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 60px;
	cursor: pointer;
	text-decoration: none;
}
nav ul{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	/* transition: 1s; */
	transition: transform .6s .9s;
	
}
nav ul li{
	line-height: 60px;
	margin: 0 5px;
	text-decoration: none;
}
nav ul a{
	color: antiquewhite;
	padding: 5px 13px;
	font-size: 18px;
	border-radius: 4px;
	text-decoration: none;
	
}
nav ul a:hover{
	background: hsl(12, 100%, 67%);
	text-decoration: none;
	opacity: 2;
}

section{
	min-height: 100vh; 
	/* display: inline; */
	align-items: center;
	/* flex-direction: column; */
	padding: 100px; 

} 


/* home */
/* section#home{
	position: relative;
	background-image: linear-gradient(
		to left,
		hsl(327, 56%, 32%),
		hsl(12, 100%, 67%)
	);
	z-index: 1;
}
section#home::before{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(
		to bottom,
		hsl(196, 100%, 28%),
		hsl(0, 100%, 75%)
	);
	z-index: 1;
	transition: opacity 0.5s linear;
	opacity: 0;
} */

section h1, section h2{
	color: black;
	text-transform: capitalize;
	/* font-size: 62px; */
	font-weight: 300;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size:5vw;

}

section p{
	padding: 50px;
	font-size: 20px;
	/* color: #fff; */
}

.checkbtn{
	cursor: pointer;
	display: none;
	font-size: 50px;
}
.checkbtn i{
	font-size: 30px;
}
#check{
	display: none;
}
@media (max-width: 850px){
	.checkbtn{
		display: block;
	}
	nav{
		flex-direction: row-reverse;
	}
	.logo{
		font-size: 25px;
	}
	nav ul{
		position: fixed;
		top: 60px;
		flex-direction: column;
		background: rgb(0, 0, 0, 0.9);
		width: 100%;
		height: 100vh;
		origin-items: flex-start;
		justify-content: flex-start;
		overflow: hidden;
		left: -100%;
		opacity: 0;
	}
	nav ul li{
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #fff;
		margin: 0;
	}
	nav ul li a{
		display: block;
		font-size: 16px;
	}
	#check:checked ~ ul{
		left: 0;
		opacity: 1;

	}
}

.container{
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-gap: 20px;
}
.box{
	height: 200px;
	color: antiquewhite;
	border: 2px solid wheat;
	position: relative;
}
