.container-fluid{
    margin-top: 100px;
    text-decoration: none;
}
.service-box{
    transition: all .3s linear;
    padding: 25px 35px;
    box-shadow: 0 0 15px rgba(0, 0, 0,.1);
    position: relative;
    text-align: center;
}
.service-box:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0,.3);
}
.service-box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    transition: all .3s linear;

}
.service-box:hover:before{
    width: 30%;
    height: 30%;
}
.service-box:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 0%;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transition: all .3s linear;
}

.service-box:hover:after{
    width: 30%;
    height: 30%;
}
.service-box span.icon{
    display: inline-block;
    position: relative;
    top: 0;
    font-size: 5em;
    width: 80px;
    height: 80px;
    border: 2px solid transparent;
    transition: all .4s linear;
}
.service-box:hover span.icon{
    border-color: transparent;
    top: -90px;
}
.service-box span.icon .fa{
    line-height: 70px;
    color: black;
}
img{
    height: 100px;
    width: 100px;
}

.service-box h4{
    font-family: 'Roboto';
    font-weight: 600;
    color: #ffffff;
    margin-top: 20px;
}
.service-box h5{
    font-family: 'Roboto';
    color: #404040;
    margin-top: 20px;
    text-align: justify;
}
.service-box p{
    font-family: 'Roboto';
    font-weight: 200;
    color:black;
    margin-bottom: 0;
    margin-top: 0;
    font-size: medium;
}

.container-team{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.our-team{
    background-color: burlywood;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0px 25px;
    padding: 30px 0 40px;
    margin: 0px 20px;
    width: 30%;
}
.our-team .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 0px;
    /* z-index: 1; */
    position: relative;
}
.our-team .pic::before{
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #006666;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.2;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

/* Meet the team */
.our-team:hover .pic::before{
    height: 100%;
}
.our-team .pic:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #006666;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: -1;
}
.our-team .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.our-team .team-content{
    margin-bottom: 30px;
}
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    color: #404040;
    letter-spacing: 1px;
    margin-top: 5px;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #404040;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social{
    bottom: 0;
}
.our-team .social li{
    display: inline-block; 
}
.our-team .social li a{
    text-decoration: none;
    display: block;
    /* padding: 10px; */
    font-size: 17px;
    /* color: azure; */
    transition: all 0.3s ease 0s;

    height: 40px;
    width: 40px;
    background: #404040;
    line-height: 40px;
    border-radius: 40px;
    /* margin: 0 5px; */
    margin-bottom: 2px;
    cursor: pointer;
}

.our-team .social li a:hover{
    background:#d35400;
    color: #404040;
    
}
@media(max-width: 720px){
    .container-team{
        flex-direction: column;
    }
    .our-team{
        width:80%;
        margin-top: 30px;
    }
}


