{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/social_login_button.css' %}">
{% endblock extrahead %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section>
    <h4 style="text-decoration: underline;">{% trans "Password Reset" %}</h4>
    <br>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
  
        <h4>Forgotten your password?</h4>
        <h4>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</h4>

    

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy}}
        <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</section>
    {% endblock %}
